In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
dataset_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58,60, 80], 'altura':[160,162,165,168,172,174,174,174,176]}

In [4]:
dataset_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [5]:
df_medidas = pd.DataFrame.from_dict(dataset_medidas)

In [6]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## *Medidas Resumo*

### Medidas de Posição

In [8]:
# media

print(df_medidas["idade"].mean())

41.77777777777778

In [9]:
# mediana

print(df_medidas["idade"].median())

40.0

In [10]:
# moda

print(df_medidas["idade"].mode())

0    25
Name: idade, dtype: int64

In [11]:
# moda

print(df_medidas["altura"].mode())

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [12]:
# Varância

print(df_medidas.idade.var())

509.94444444444446

In [13]:
# Desvio Padrão 

print(df_medidas.idade.std())

22.58194952709895

In [ ]:
# Coeficiente de Variação - Idade

print(df_medidas.idade.std() / df_medidas.idade.mean() * 100)

54.05253876167302

In [17]:
# Coeficiente de Variação - Altura

print(df_medidas.altura.std() / df_medidas.altura.mean() * 100)

3.4803552812368785

### Medidas de Forma

In [18]:
# Assimetria - Idade

print(df_medidas.idade.skew())

0.368108517895537

In [19]:
# Assimetria - Altura

print(df_medidas.altura.skew())

-0.598486996170113

In [20]:
# Curtose - Idade

print(df_medidas.idade.kurtosis())

-1.1344461075421046

In [21]:
# Curtose - Altura

print(df_medidas.altura.kurtosis())

-1.3372641199913002

In [22]:
# Obter medidas estatisticas

print(df_medidas.idade.describe())

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

In [23]:
print(df_medidas.altura.describe())

count      9.000000
mean     169.444444
std        5.897269
min      160.000000
25%      165.000000
50%      172.000000
75%      174.000000
max      176.000000
Name: altura, dtype: float64